.button-start {
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}

.button-checkAnswer {
    padding-left: 22px;
    padding-right: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

.activity-box {
    margin-top: 175px;
}

.result-box{
    margin-top: 50px;
}

.activity-box-start {
    margin-top: 175px;
}

.imageResultBox {
    height: 400px;
}

@media (max-width: 1020px) {
    .imageResultBox {
        height: 350px;
    }

    .activity-box {
        margin-top: 75px;
    }
}

@media (max-width: 670px) {
    .imageResultBox {
        height: 250px;
    }

    .activity-box-start {
        margin-top: 50%;
    }
}

