* {
    font-family: "Times New Roman", Times, serif;
}

.main-frame{
    background-color: #F9F5EB;
    box-shadow: 0px -30px 0px 20px rgba(234, 227, 210, 0.5);
    margin-top: 150px;
}

p.header {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

p.body{
    font-size: 12px;
    text-align: center;
}

.button-start {
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}

body {
    background-image: url("/images/Bg.png");
    background-color: #1C3879;
    position: center;
    background-size: cover;
}

.button-checkAnswer {
    padding-left: 22px;
    padding-right: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

.quiz-upload-box {

}

.activity-box {
    margin-top: 175px;
}

.result-box {
    margin-top: 50px;
}

.activity-box-start {
    margin-top: 175px;
}

.imageResultBox {
    height: 400px;
}

@media (max-width: 1020px) {
    .imageResultBox {
        height: 350px;
    }

    .activity-box {
        margin-top: 75px;
    }
}

@media (max-width: 670px) {
    .imageResultBox {
        height: 250px;
    }

    .activity-box-start {
        margin-top: 50%;
    }
}

