* {
    font-family: "Times New Roman", Times, serif;
}

.main-frame {
    background-color: #F9F5EB;
    box-shadow: 0px -30px 0px 20px rgba(234, 227, 210, 0.5);
    margin-top: 150px;
}

div.c-flex {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-evenly;
    flex-direction: row;
}

.ordering.a {
    order: 1;
}

.ordering.b {
    order: 2;
}

.ordering.c {
    order: 3;
}

div.frames {
    flex: 33%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
}

div.frames.tutorial-text-bar {
    z-index: 1;
}

.button-container {
    position: relative;
    float: left;
    text-align: center;
}

.btn-centered-text {
    position: absolute;
    font-size: 120%;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.btn-tutorial {
    height: 15%;
    width: 15%;
    cursor: pointer;
}

img.btn-cover {
    height: 13em;
    width: auto;
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.btn-cover.logo-bg {
    height: 22em !important;
}

img.logo {
    width: 100%;
}

.title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p.header {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

p.body {
    font-size: 12px;
    text-align: center;
}

.button-start {
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}

body {
    background-image: url("https://raw.githubusercontent.com/auliaardan/The-Quizzerp-Web/main/images/Bg.png");
    background-color: #1C3879;
    position: center;
    background-size: cover;
}

.button-checkAnswer {
    padding-left: 22px;
    padding-right: 22px;
    letter-spacing: 1px;
    font-weight: bold;
}

.activity-box {
    margin-top: 0;
}


.result-box {
    margin-top: 50px;
}

.activity-box-start {
    margin-top: 175px;
}

.imageResultBox {
    height: 400px;
}

@media screen and (max-width: 1020px) {
    .btn-centered-text {
        font-size: 110% !important;
    }

    .imageResultBox {
        height: 350px;
    }

}

@media screen and (max-width: 670px) {
    img.btn-tutorial {
        height: 25%;
        width: 25%;
    }

    .btn-centered-text {
        font-size: 100% !important;
    }

    img.btn-cover.logo-bg {
        height: 15em !important;
    }

    .imageResultBox {
        height: 250px;
    }

    div.c-flex {
        flex-direction: column !important;
    }

    div.frames {
        align-items: center;
        flex: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .main-frame {
        width: 75% !important;
    }

    .ordering.a {
        order: 2;
    }

    .ordering.b {
        order: 1;
    }

    .ordering.c {
        order: 3;
    }
}

